.filtres {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 16px;
}
.filtresborder:hover {
	background-color: #1D6154;
	color: #fff;
}
.filtresborder{
	border: 1px solid #1D6154;
	border-radius: 60px;
	margin-right: 10px;
	padding :9px 30px;
	margin-bottom: 51px;
	cursor: pointer;
	background-color: #fff;
	color: #1D6154;
	font-family: 'Syne';
	font-size: 16px;
}
.hide {
	display: none;
}
.active {
	display: flex;
	background: #1D6154;
	color: #fff;
}